.todo-list-item {
  display: flex;
  justify-content: space-between;
  /* border-left:7px solid blue; */
  width: 90%;
  border-bottom: 1px solid grey;
  /* background-color: aqua; */
  margin-bottom: 5px;
  /* border-radius:8px; */
}

.list-element-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.checked-class-name {
  text-decoration: line-through;
  padding: 0px;
  display: flex;
  align-items: center;
  opacity: 0.4;
}

.label-element-input {
  display: flex;
  align-items: center;
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  overflow-y: auto;
  color: black;
  font-family: "Roboto";
  margin-left: 10px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .label-element-input {
    display: flex;
    max-width: 60%;
    flex-wrap: wrap;
    overflow-y: auto;
  }
}

.save-button-element {
  background-color: #4378d9;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 7px 14px 7px 14px;
  width: 120px;
  align-self: center;
}

.edit-button-element {
  background-color: #4378d9;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  align-self: center;
}

.edit-input {
  height: 24px;
  align-self: center;
  min-width: 100px;
  max-width: 40vw;
  margin-left: 10px;
}
